/* ------------------------------------reset styles---------------------------- */
*{padding:0; margin: 0;box-sizing: border-box;list-style: none;}
html{font-size: 16px;}
/* ---------------------------------required fonts-------------------------- -- */
@font-face {
    font-family: 'Gemelli';
    src: url(fonts/Gemelli.ttf);
}
@font-face {
    font-family: 'Aylogri';
    src: url(fonts/Aylogri.ttf);
}
/* ----------------------------------main styles------------------------------ */
.flex-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* --------------------------------------header----------------------------------------- */
header {
    flex-grow: 0;
    background-color: rgba(173, 216, 230, 0.7);
}
#welcome {
    background-image: url(https://cdn.pixabay.com/photo/2016/03/06/17/39/banner-1240822_960_720.jpg);
    padding: 3rem 0;
}
#welcome h1 {
    text-align: center;
    color:#fff;
    font-size: 3rem;
    letter-spacing: .5rem;
    font-family: 'Aylogri', sans-serif;
    opacity: .65;
}
/* -----------------------------------navigation menu--------------------------------------- */
nav {
    display: flex;
}
nav a{
    padding: 1rem 1.5rem;
    transition: background-color .5s;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #02ad9c;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gemelli';
}
nav a:last-child{
    margin-left: auto;
}
nav a:hover{
    background-color: #02ad9c;
    color: white;
    transition: background-color .5s;
}
/*---------------------------------------main---------------------------------------------------*/
#main {
    flex-basis: 80%;
    background-color: rgba(215, 245, 238, 0.8);
    overflow-y: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}
.aside-wrap {
    flex-basis: 20%;
}
aside {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.section-wrap {
    flex-basis: 50%;
}
section {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .5rem;
    margin-bottom: 2rem;
}
/*------------------------------------------footer------------------------------------------*/
footer {
    flex-basis: 7%;
    background-color: rgb(173, 216, 230);
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 720px) {
    nav {
        flex-direction: column;
    }
    nav a {
        text-align: center;
        font-size: 1rem;
        padding: .5rem 1.5rem;
    }
    nav a:last-child{
        margin-left: 0;
    }
    #welcome {
        display: none;
    }
    #main {
        flex-basis: 75%;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }
    aside, section {
        flex-basis: 0;
    }
    aside {
        margin-bottom: 2rem;
    }
}