/*----------------------------------RESET CSS--------------------*/
*{padding: 0;margin: 0;box-sizing: border-box;text-decoration: none;list-style: none;}
html{font-size: 16px;font-family: 'Open Sans', sans-serif;scroll-behavior: smooth;}
body{background: #0c0b09; color: #fff;}
h1, h2, h3, h4, h5, h6 {font-family: "Playfair Display", serif;}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKd3vXDXbtM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*------------DEFAULT STYLES------------------*/
.fluid-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.container {
    display: flex;
    max-width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.section-container {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-flow: column;
}
section {
    padding: 5rem 0;
}
.section-title {
    position: relative;
}
.section-title h2 {
    font-size: .875rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    line-height: 1px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    color: #aaa;
}
.section-title h2:after {
    content: '';
    width: 120px;
    height: 1px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}
.section-title p{
    margin: 0;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: 'Playfair Display', sans-serif;
    color: #cda45e;
    text-transform: capitalize;
    padding-bottom: 2.5rem;
}
.fixed{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    transition: background-color 0.8s;
}
/*----------------------------HEADER------------------------------------------*/
header {
    background-image: url(img/hero-bg.jpg);
    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
nav {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 3rem;
    padding: 1rem 0;
    transition: background-color 0.8s;
}
#navbar__title {
    margin-right: auto;
}
#navbar__title h1 {
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
#navbar a {
    color: #fff;
}
#navbar__menu{
    display: flex;
    flex-wrap: wrap;
}
#navbar__menu li{
    padding-left: 1.75rem;
}
#navbar__menu a {
    font-size: .875rem;
    transition: .5s;
}
#navbar__menu a:hover {
    color: #d9ba85;
    transition: .5s;
}
#navbar__menu li:last-child>a {
    text-transform: uppercase;
    padding: .5rem 1.5625rem;
    border: 2px solid #cda45e;
    border-radius: 3.125rem;
}
#navbar__menu li:last-child>a:hover {
    background-color: #cda45e;
}

#heading {
    position: relative;
    top: 35%;
    ;
}
#heading__text{
    margin-right: auto;
}
#heading__text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
#heading__text h1>span{
    color: #cda45e;
}
#heading__text h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.375rem;
    font-weight: 500;
}
#heading__text #buttons {
    margin-top: 2.5rem;
}
#heading__text #buttons>a {
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
    padding: .75rem 1.875rem;
    border: 2px solid #cda45e;
    border-radius: 3.125rem;
    font-size: .8125rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .5px;
    display: inline-block;
}
#heading__text #buttons>a:last-child {
    margin-left: .9375rem;
}
#heading__text #buttons>a:hover {
    background-color: #cda45e;
    transition: .5s;
}
#heading__arrow {
    flex: auto;
    text-align: center;
}
#heading__arrow>a {
    padding: 2rem;
    border-radius: 50%;
    border: 2px solid #cda45e;
    color: #fff;
    font-weight: 900;
    transition: .5s;
    display: inline-block;
    line-height: 1;
}
#heading__arrow>a:hover {
    background-color: #cda45e;
    transition: .5s;
}
/* ------------------------------MAIN--------------------------- */
/* ----------------------------ABOUT ------------------------ */
#main__about {
    background-image: url(img/about-bg.jpg);
    color: #fff;
    position: relative;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#main__about::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#main__about__text{
    flex-basis: 50%;
    position: relative;
}
#main__about__img{
    flex-basis: 45%;
    position: relative;
    margin-left: auto;
    transition: .5s;
}
#main__about__text>h3 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    font-size: 1.625rem;
    line-height: 1.5;
    margin-bottom: .5rem;
}
#main__about__text>h3~p {
    font-style: italic;
    margin-bottom: 1rem;
}
#main__about__text>p{
    line-height:1.5;
}
#main__about__text>ul {
    line-height: 1.5;
    margin-bottom: 1rem;
}
#main__about__text>ul li{
    padding-bottom: .625rem;
}
#main__about__img>img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2)
}
#main__about__img::before{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: '';
    border-left: 5px solid #cda45e;
    border-top: 5px solid #cda45e;
    transition: .5s;
}
#main__about__img::after{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: '';
    border-right: 5px solid #cda45e;
    border-bottom: 5px solid #cda45e;
    transition: .5s;
}
#main__about__img:hover {
    flex-basis: 46.5%;
    transition: .5s;
}
#main__about__img:hover::before{
    left: 15px;
    top: 15px;
    transition: .5s;
}
#main__about__img:hover::after{
    right: 15px;
    bottom: 15px;
    transition: .5s;
}
/* ------------WHY US----------------------- */
.why-us__box * {
    transition: 1s;
}
.why-us__box:hover * {
    transform: translateY(-20px);
    transition: 1s;
}
#why-us__content {
    display: flex;
    justify-content: space-between;
}
#why-us__content>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 1rem;
}
#why-us__content .why-us__box{
    background-color: #1a1814;
    padding: 3.125rem 1.875rem;
    transition: 1s;
}
#why-us__content .why-us__box span {
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    color: #cda45e;
}
#why-us__content .why-us__box h4 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
    margin: 1.25rem 0;
    color: rgba(255, 255, 255, 0.8);
}
#why-us__content .why-us__box p {
    color: #aaa;
    font-size: .9375rem;
}
#why-us__content .why-us__box:hover {
    background-color: #cda45e;
    transition: 1s;
}
#why-us__content .why-us__box:hover span, #why-us__content .why-us__box:hover p {
    color: #fff;
}
/* -------------------------MENU----------------------------------- */
#menu {
    background-color: #1a1814;
}
#menu__content__nav {
    display: flex;
    justify-content: center;
}
#menu__content__nav a{
    padding: .5rem .75rem .625rem;
    margin-bottom: .625rem;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    transition: .5s;
}
#menu__content__nav a:hover {
    color: #cda45e;
    transition: .5s;
}
.menu__item{
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}
.menu__item img {
    width: 70px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}
#menu__content__elems{
    display: flex;
}
#menu__content__elems__col-b {
    margin-left: auto;
}
#menu__content__elems a{
    padding:0 .75rem;
    position: relative;
    font-weight: 700;
    color: #fff;
    transition: .5s;
}
#menu__content__elems a:hover{
    transition: .5s;
    color: #cda45e;
}
#menu__content__elems a::after{
    content: "..............................................................";
    z-index: 1;
    color: #bab3a6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-left: .75rem;
}
#menu__content__elems span{
    padding:0 10px;
    position: relative;
    font-weight: 600;
    color: #cda45e;
}
#menu__content__elems .menu__item__ingredients{
    margin-left: .75rem;
    font-style: italic;
    font-size: .875rem;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}
/* -----------------------SPECIALS----------------------------------------------- */
#specials__content{
    display: flex;
    justify-content: space-between;
}
#specials__content__list {
    flex-basis: 35%;
}
#specials__content__list ul {
    width: 90%;
    border-right: 2px solid #cda45e;
}
#specials__content__list ul li{
    padding: 12px 15px;
    cursor: pointer;
    transition: .5s;
}
#specials__content__list ul li:hover{
    color: #cda45e;
    transition: .5s;
}
#specials__content__desc {
    display: flex;
    width: 100%;
}
#specials__content__desc__text {
    flex: auto;
}
#specials__content__desc__text h3 {
    font-size: 1.625rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}
#specials__content__desc__text p {
    color: #aaa;
    font-style: italic;
    margin-bottom: 1rem;
}
#specials__content__desc__text p:last-child {
    font-style: normal;
    margin-bottom: 0;
}
#specials__content__desc__img {
    flex-basis: auto;
}
#specials__content__desc__img img {
    max-width: 100%;
}
/* ----------------------------------------EVENTS------------------------ */
#events {
    background-image: url(img/events-bg.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#events .section-title h2 {
    color: #fff;
}
#events::before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#events__content{
    display: flex;
    position: relative;
    padding: 1.875rem;
    background-color: rgba(255, 255, 255, 0.08);
}
#events__content__img{
    flex-basis: 45%;
}
#events__content__img>img{
    max-width: 100%;
}
#events__content__text{
    flex-basis: 50%;
    margin-left: auto;
}
#events__content__text>h3 {
    font-weight: 600;
    font-size: 1.625rem;
    color: #cda45e;
    margin-bottom: .5rem;
}
#events__content__text__price {
    font-weight: 700;
    font-size: 1.625rem;
    color: #fff;
    margin-bottom: 1rem;
}
#events__content__text__price span{
    border-bottom: 2px solid #cda45e;
}
#events__content__text__price~p {
    font-style: italic;
    margin-bottom: 1rem;
}
#events__content__text>ul {
    margin-bottom: 1rem;
}
#events__content__text>ul>li {
    margin-bottom: .625rem;
}
/* --------------------------RESERVATION--------------------------- */
#reserv__content_inputs {
    display: flex;
    flex-wrap: wrap;
}
#reserv__content_inputs div {
    flex-basis: 33.33333%;
    padding: 0 5px 8px 5px;
    margin-bottom: 1rem;
}
#reserv__content_inputs input {
    width: 100%;
    height: 2.75rem;
    font-size: .875rem;
    background-color: #0c0b09;
    border-color: #625b4b;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    padding: 0 .8rem;
    transition: .5s;
}
#reserv__content_inputs input:focus, #reserv__content_textarea textarea:focus {
    outline: 0;
    border-color: #cda45e;
    transition: .5s;
}
#reserv__content_textarea>div{
    padding: 0 5px 8px 5px;
    margin-bottom: 1rem;
}
#reserv__content_textarea textarea {
    width: 100%;
    font-size: .875rem;
    background-color: #0c0b09;
    border-color: #625b4b;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    padding: .8rem;
    transition: .5s;
}
#reserv__content_forbtn {
    text-align: center;
}
#reserv__content_forbtn button {
    background: #cda45e;
    border: 0;
    padding: .625rem 2.1875rem;
    color: #fff;
    transition: .4s;
    border-radius: 3.125rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
#reserv__content_forbtn button:hover {
    background: #d3af71;
}
/* ----------------------------TESTIM--------------------------- */
#testim {
    background-color: #1a1814;
}
#testim__content {
    display: flex;
}
.testim__content__box {
    flex-grow: 1;
    flex-basis: 0;
}
.testim__content__box div{
    padding: 1.25rem 1.25rem 3.75rem 1.25rem;
    background-color: #26231d;
    border-radius: 6px;
    font-style: italic;
    margin: 0 1rem;
}

.testim__content__box img {
    width: 90px;
    height: 90px;
    position: relative;
    margin: -40px 0 0 40px;
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
/* ---------------------------GALLERY---------------------- */
.fluid-container div {
    flex-basis: 25%;
    overflow: hidden;
    cursor: pointer;
    border-right: 3px solid #454035;
    border-bottom: 3px solid #454035;
}
.fluid-container img {
    width: 100%;
    transition: .5s;
    vertical-align: middle;
}
.fluid-container div:hover img {
    transform: scale(1.1);
    transition: .5s;
}